@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --secondary: 162.9 84.1% 39.4%;
    --accent: 238.7 83.5% 66.7%;
  }
}
 
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}